* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 1em auto 1em auto;
  height: auto;
  width: 300px;
  border: 1px solid grey;
  border-radius: 1em;
  padding-top: 1em;
  color: white;
  background: linear-gradient(rgba(58, 74, 107, 0.952), rgb(6, 151, 247));
}
.min-max-temp {
  display: flex;
  justify-content: space-around;
  margin: 1em;
}
.header {
  text-align: center;
}
.details {
  text-align: center;
}
/*  */
.button {
  height: 2.5em;
  width: 10em;
  border-radius: .5em;
  background-color: rgb(8, 144, 99);
  border-style: none;
  cursor: pointer;
  margin: 1em;
  color: white;
}

.modal-fixed {
  position: fixed;
  top: 100px;
  /* display: flex; */
  /* margin: auto; */
  z-index: 1;
  border: 1px solid grey;
  /* height: 200px; */
  width: 300px; 
  border-radius: .5em;
  /* background-color: rgb(3, 105, 74); */
  /* background-color: aliceblue; */
  background: linear-gradient(rgb(9, 113, 154),rgb(75, 43, 179));
  background-color: rgba(0,0,0,0.4);

}

.save-button {
  height: 2em;
  width: 5em;
  border-radius: .5em;
  background-color: rgb(8, 144, 99);
  border-style: none;
  cursor: pointer;
  margin: 1em .5em 1em .5em;
  color: white;
}
.btn {
  cursor: pointer;
  /* border: 1px solid black; */
  align-self: center;
  margin-right: .5em;
  
}
input[type='text'] {
  height: 2em;
  /* width: 90%; */
  /* margin: auto; */
  /* margin: .5em; */
}
.input {
  /* margin-top: .5em; */
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: auto;
  width: 80%;
  height: 70px;
}
.icons-container {
  width: 50%;
  /* border: 1px solid black; */
  margin: auto;
}
.icons {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: .3em;
}
.icons img {
  /* margin-top: .5em; */
  margin-right: 1em;
  
}
.p-tags {
  text-align: left;
}
.modal-header-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  margin-top: .5em;
  /* align-items: center; */
}
.header {
  /* border: 1px solid black; */
  align-self: center;
  text-align: left;
  /* width: 80%; */
  margin-left: 1.8em;

}

